/* Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Utility components */
:root {
  /* font-size: 62.5%; */
  /* font-family: 'Roboto', sans-serif; */

  /* Custom properties */

  /* colors */
  --color-primary: #730039;
  --color-primary-m-light: hsla(330, 100%, 23%, .55);
  --color-primary-m-dark: hsla(330, 100%, 23%, .85);

  --color-secondary: #ffc513;
  --color-secondary-m-light: hsla(45, 100%, 54%, .55);
  --color-secondary-m-dark: rgba(255, 196, 19, .85);

  --color-tertiary: #ff724c;
  --color-tertiary-m-light: hsla(13, 100%, 65%, .55);
  --color-tertiary-m-dark: rgba(255, 115, 76, .85);


  --color-quaternary: #f6eedf;
  --color-quaternary-m-light: hsla(39, 56%, 92%, .6);
  --color-quaternary-m-dark: hsla(39, 56%, 92%, .85);

  /* transition duration */
  --transition-duration: .3s;

  /* section title font size */
  --font-size-title: calc(2rem + 2vw);
}

/* 
.container {
  background-color: var(--color-quaternary-m-dark);
  max-width: 1024px;
  margin: 0 auto;
} */
/* 
img {
  width: 100%;
  object-fit: cover;
} */

/* h1 {
  color: rgb(50, 50, 50);
  font-weight: normal;
  text-align: center;
  font-size: 2rem;
  margin: 2rem 0;
} */

/* h2 {
  font-size: 1rem;
  color: rgb(50, 50, 50);
  font-weight: normal;
  text-align: center;
  margin: 1.5rem 0;
} */

/* p {
  text-align: justify;
  line-height: 1.7;
  font-size: 1rem;
} */

.jobs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bottom {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
}

/* 
.bottom button,
.jobs button {
  padding: 1rem 2rem;
  cursor: pointer;
} */

.positions {
  margin: 1rem 0;
}