{%extends 'base.html'%}
{%block title%}Noble{%endblock%}
{%block content%}
{%include 'navbar.html'%}
<div class="container">
  <!-- <h1 class="display-3">Noble Career</h1> -->
  <div style="margin: 66px 0 0 0;" class="row">
    <div class="col-md-6">
      <h2>Unlock Your Future: Explore Endless Career Possibilities on our Portal!
      </h2>
      <p class="lead">
        Welcome to our career portal, your gateway to a world of professional opportunities! Whether you're a recent
        graduate, a seasoned professional looking for a change, or someone seeking to advance your career, we've got you
        covered.
      </p>
      <p class="lead">Join our vibrant community of job seekers and professionals who are all on a mission to achieve
        their career
        aspirations. Through discussion forums and networking groups, you can engage with like-minded individuals, share
        insights, and build valuable connections that can propel your career forward.</p>
    </div>
    <div class="d-none d-md-block col-md-6">
      <img class="img-fluid" src="{{url_for('static', filename='open.jpg')}}" alt="">
    </div>
  </div>
  <h2 class="text-center py-7">Current Openings</h2>
  <!-- <p>Todo - show job positions</p> -->
  {%for job in jobs%}
  {% include 'jobitem.html'%}
  {%endfor%}
  <div class="bottom margin-top">
    <button class="btn btn-outline-primary">Contact us</button>
  </div>
</div>
{%include 'footer.html'%}
{%endblock%}